h1 {
    text-align: center;
}

#frame {
    min-height: 600px;
    background-color: white;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 3px #0000006b;
    position: relative;
    overflow-x: hidden;

}

.welcome {
    text-align: left;
  
}