<h1>hello</h1>

<div class="info">
    ניהול קשרי לקוחות  הוא תחום העוסק בשירות לקוחות ובהבנה וניתוח של צורכיהם באמצעות כלים של טכנולוגיית המידע.
     התחום כולל מתודולוגיות, תוכנות מחשב וחומרות מחשב המסייעות לארגון לנהל את הקשר עם לקוחותיו.
      המערכת משלבת בין פעולות שיווקיות ללקוחות חדשים לבין פעולות לשימור לקוחות ופיתוח בסיס הלקוחות הקיים, תוך בחינת הערך הנוצר לארגון כתוצאה מתהליכים אלו.
      <br> <br> <br>
    div  CRM stands for Customer Relationship Management, which refers to a strategy and set of tools designed to help businesses manage and improve their interactions with customers.
       The primary goal of CRM is to enhance customer satisfaction, retention, 
      and loyalty by providing personalized and relevant experiences across all touchpoints.



    </div>