h3{
  text-align: center;
  padding: 10px;
  font-style: initial;
}


th, td {
  text-align: center;
    padding: 8px;
    font-size: 16px;
  }
  .new {   
    background-color: #629460; 
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 20px;
    position: relative;
    cursor: pointer;;
    font-size: 10px;
  }

  
.displayMode {
  text-align: center;
}

.pic {
  max-height: 50px;
  position: relative;

}


.cardPerson {
 // margin-top: 20px;
  min-width: 10px;
  min-height: 10px;
  padding: 16px;
  text-align: center;
}

.cardPerson:hover {
  cursor: pointer;
   
}


.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;

}



