footer{
    
    margin: auto;
    background: #629460;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    max-width: 1000px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 3px #0000006b;
    padding-bottom: 5px;
    overflow-x: hidden;

}

.name{
    margin: auto;  
    font-size: 14px;
    color: #cacdd2;
    padding: 0px 10px 5px 10px;
}